{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Création d'un article</h1>
    <form action="" method="post" >
      <input type="text" name="titre" placeholder="titre de l'article">
      <textarea  name="texte" placeholder="texte"></textarea>
      <input type="text" name="photo" placeholder="image de l'article">
      <button type="submit">Enregistrer</button>
    </form>
</div>
{% endblock %}
